// Material You Theme for HyprNoon Shell By Pharmaracist

// Core Colors
$primary: #d8bafa;
$onPrimary: #331b51;
$primaryContainer: #725992;
$onPrimaryContainer: #ffffff;
$secondary: #cfc1da;
$onSecondary: #2d2437;
$secondaryContainer: #6b6076;
$onSecondaryContainer: #ffffff;
$tertiary: #f2b7c0;
$onTertiary: #411c24;
$tertiaryContainer: #865760;
$onTertiaryContainer: #ffffff;
$error: #ffb4ab;
$onError: #580003;
$errorContainer: #c32220;
$onErrorContainer: #ffffff;
$background: #151218;
$onBackground: #e8e0e8;
$surface: #151218;
$onSurface: #ece5ed;

// Surface Variants
$surfaceVariant: #4a454e;
$onSurfaceVariant: #ccc4cf;
$surfaceDim: #151218;
$surfaceBright: #403c42;
$surfaceContainerLowest: #0d0b10;
$surfaceContainerLow: #1e1b21;
$surfaceContainer: #252227;
$surfaceContainerHigh: #2f2c32;
$surfaceContainerHighest: #3b373d;

// Other Colors
$outline: #9b949e;
$outlineVariant: #68626c;
$shadow: #000000;
$scrim: #000000;
$inverseSurface: #e8e0e8;
$inverseOnSurface: #332f35;
$inversePrimary: #654c84;
$surfaceTint: #d8bafa;

// Fixed Colors
$primaryFixed: #eedcff;
$primaryFixedDim: #d8bafa;
$onPrimaryFixed: #260d44;
$onPrimaryFixedVariant: #523a71;
$secondaryFixed: #ecddf7;
$secondaryFixedDim: #cfc1da;
$onSecondaryFixed: #20182a;
$onSecondaryFixedVariant: #4b4256;
$tertiaryFixed: #ffd9de;
$tertiaryFixedDim: #f2b7c0;
$onTertiaryFixed: #321018;
$onTertiaryFixedVariant: #643a42;

// Optional Colors (Checks for the generator)
$success: $primary;
$onSuccess: $onPrimary;
$successContainer: $primaryContainer;
$onSuccessContainer: $onPrimaryContainer;

// Term Colors
$term0: $primary;
$term1: $onPrimary;
$term2: $primaryContainer;
$term3: $onPrimaryContainer;
$term4: $secondary;
$term5: $onSecondary;
$term6: $secondaryContainer;
$term7: $onSecondaryContainer;
$term8: $tertiary;
$term9: $onTertiary;
$term10: $tertiaryContainer;
$term11: $onTertiaryContainer;
$term12: $surface;
$term13: $onSurface;
$term14: $surfaceVariant;
$term15: $onSurfaceVariant;